
<div class="setlinkarea">
<div>
<div class="mt20 p16" style="
    width: 100%;
    float: left;
">
		<ul>
			<li class="fl">
				<p class="setup-tit">Setup</p>
			</li>
			<li class="fl"> 
				<input type="text" placeholder="Search" class="ml20 setup-search">
			</li>
			<li class="fr" style="
    margin-right: 60px;
">
				<a href="javascript:;" class="sec-btn">Customize Setup</a>
			</li>
		</ul>
	</div>
	{{#each @model.settings as |stgGrp|}}
		<div class="setupbox">
			<h3 class="stg-title">{{stgGrp.title}}</h3>
			<ul>
			{{#each stgGrp.submenus as |stgItem|}}
				<li class="stg-item"><LinkTo @route="setting" @model={{stgItem.url}}>{{stgItem.title}}</LinkTo></li>
			{{/each}}
		</ul>
</div>
	{{/each}}
	
	</div>
</div>
