<div id="sa-detail" style="display: block;width: 100%;height: 100%;box-sizing: border-box;position: fixed;z-index: 10;background: rgba(64,69,72,.6);top: 0;margin-top: 58px;">
  <div class="createPopupCont">
    <div class="content-wrap">
      <div class="form-page">
        <div class="form-hdr">
          <p>Create Company</p>
        </div>
        <div class="ui-form">
          <div style="width:500px;">
           
            <div class="field-section">
              <div class="form-label-inp">
                <p>First Name</p>
              </div>
              <div class="form-field">
                <input type="text" class="field-text">
              </div>
            </div>

            <div class="field-section">
              <div class="form-label-inp">
                <p>First Name</p>
              </div>
              <div class="form-field input-mandatory">
                <input type="text" class="field-text">
              </div>
            </div>

            <div class="form-sec-hdr">
              Address Information
            </div>

            <div class="field-section">
              <div class="form-label-inp">
                <p>First Name</p>
              </div>
              <div class="form-field input-mandatory field-icon-phone">
                <input type="text" class="field-text">
              </div>
            </div>



             <div class="field-section">
              <div class="form-label-inp">
                <p>Select Company</p>
              </div>

              <div class="form-field-drop input-mandatory field-icon-drpdon">
                <a href="javascript:;">Prabhu</a>

               <ul class="drop-ul" style="display:none;">
                  <li><a href="">None</a></li>  
                  <li><a href="">prabhu</a></li>
                  <li><a href="" class="sel">kugan</a></li>
                   <li><a href="">UK</a></li>
               </ul>

              </div>
            </div>

             

  <div class="field-section">
              <div class="form-label">
                <p>Are you Zoho ?</p>
              </div>

              <div>
                   <input type="checkbox" class="checkbox-custom"/>
              </div>
            </div>

          </div>
        </div>
        <div class="form-botm-btn-sec">
          <a class="link-text fl"> Field Settings </a>
          <a class="primary-button fr ml10" onclick="history.back();">Save</a>
          <a class="secondary-button fr" onclick="history.back();">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>