<div class="sub-form-div" data-instance="3" data-modulename="Service_Line_Items" data-subfrmmodule="para___Service_Line_Items" data-subtype="parasubform">
  <div class="Hdrbtm" id="from-header"><span class="sectionHdr f-Semibold">Services</span></div>
  <div class="renderformTableBG">
    <div class="renderform-tablepar">
      <table data-instance="3" class="subform-layout " data-subformfieldname="para___Service_Line_Items">
        <tbody>
          <tr class="line_item_label_row">
            <td class="tableHdrtd line-item-label"><span class="tableHdrDiv line-item-labelText">ID</span></td>
            <td class="tableHdrtd line-item-label" style="width: 30%;"><span class="tableHdrDiv line-item-labelText">Service Name</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Quantity</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">List Price</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Discount</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Sub Total</span></td>
            <td class="tableHdrtd line-item-label"><span class="tableHdrDiv line-item-labelText">Tax Name</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Total</span></td>
          </tr>
          <tr class="line_item_val_row" data-subrowid="para___Service_Line_Items_4475421000000208102" data-recordid="4475421000000208102">
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Service_Line_Items___Name" data-apinameorg="Name" data-datatype="autonumber" data-recordid="undefined_4475421000000208102" data-dataval="SVC-1706" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Name">SVC-1706</div>
              <div class="dep-fld-cont">
                <div class="line-items-depFldCont">
                  <div class="line-items-depFldLabel">Status</div>
                  <div class="line-items-depFld" data-recordid="Service_Line_Items___Status_4475421000000208102" data-instance="3" data-apiname="Service_Line_Items___Status" data-apinameorg="Status" data-datatype="picklist">
                    <div class="view-val-cont" id="Service_Line_Items___Status">Scheduled</div>
                  </div>
                </div>
              </div>
            </td>
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Service_Line_Items___Service" data-apinameorg="Service" data-datatype="lookup" data-recordid="undefined_4475421000000208102" data-dataval="[object Object]" style="width: 30%;">
              <div class="view-val-cont" id="Service_Line_Items___Service">Nontax service</div>
              <div class="dep-fld-cont">
                <div class="line-items-depFldCont">
                  <div class="line-items-depFldLabel">Description</div>
                  <div class="line-items-depFld textareaview" data-recordid="Service_Line_Items___Description_4475421000000208102" data-instance="3" data-apiname="Service_Line_Items___Description" data-apinameorg="Description" data-datatype="textarea">
                    <div class="view-val-cont emptycontent icon" id="Service_Line_Items___Description"></div>
                  </div>
                </div>
              </div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Service_Line_Items___Quantity" data-apinameorg="Quantity" data-datatype="unit" data-recordid="undefined_4475421000000208102" data-dataval="1" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Quantity">1 Each</div>
              <div class="dep-fld-cont"></div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Service_Line_Items___List_Price" data-apinameorg="List_Price" data-datatype="exchangecurrency" data-recordid="undefined_4475421000000208102" data-dataval="120" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___List_Price">$ 120.00</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Service_Line_Items___Discount" data-apinameorg="Discount" data-datatype="discount" data-recordid="undefined_4475421000000208102" data-dataval="10" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Discount">10%</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Service_Line_Items___Total" data-apinameorg="Total" data-datatype="currency" data-recordid="undefined_4475421000000208102" data-dataval="108" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Total">$ 108.00</div>
            </td>
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Service_Line_Items___Tax_Name" data-apinameorg="Tax_Name" data-datatype="tax" data-recordid="undefined_4475421000000208102" data-dataval="ABC" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Tax_Name">ABC</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Service_Line_Items___Total_After_Tax" data-apinameorg="Total_After_Tax" data-datatype="currency" data-recordid="undefined_4475421000000208102" data-dataval="108" style="width: 12.5%;">
              <div class="view-val-cont" id="Service_Line_Items___Total_After_Tax">$ 108.00</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="no-record-found">
            <td colspan="10" style="width: 100%;">
              <div class="noResult f-italic no-record-subform" data-norecordsubform="para___Service_Line_Items" style="display: none;">No Record Found</div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="aggregate-cont">
      <div class="readlist-a f-Semibold">
        <div class="readlistLabel-a">Sub Total<div class="field-label-a-desc">With tax</div>
        </div>
        <div class="field-value-a number-fld" data-instance="3" data-apiname="service_total" data-apinameorg="rvice_total" data-datatype="currency" data-dataval="108">
          <div class="view-val-cont" id="service_total">$ 108.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-form-div" data-instance="3" data-modulename="Part_Line_Items" data-subfrmmodule="para___Part_Line_Items" data-subtype="parasubform">
  <div class="Hdrbtm" id="from-header"><span class="sectionHdr f-Semibold">Parts</span></div>
  <div class="renderformTableBG">
    <div class="renderform-tablepar">
      <table data-instance="3" class="subform-layout " data-subformfieldname="para___Part_Line_Items">
        <tbody>
          <tr class="line_item_label_row">
            <td class="tableHdrtd line-item-label"><span class="tableHdrDiv line-item-labelText">ID</span></td>
            <td class="tableHdrtd line-item-label" style="width: 30%;"><span class="tableHdrDiv line-item-labelText">Part Name</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Quantity</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">List Price</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Discount</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Sub Total</span></td>
            <td class="tableHdrtd line-item-label"><span class="tableHdrDiv line-item-labelText">tax name</span></td>
            <td class="tableHdrtd line-item-label number-fld"><span class="tableHdrDiv line-item-labelText">Total</span></td>
          </tr>
          <tr class="line_item_val_row" data-subrowid="para___Part_Line_Items_4475421000000220145" data-recordid="4475421000000220145">
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Part_Line_Items___Name" data-apinameorg="Name" data-datatype="autonumber" data-recordid="undefined_4475421000000220145" data-dataval="PRT-1661" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Name">PRT-1661</div>
            </td>
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Part_Line_Items___Part" data-apinameorg="Part" data-datatype="lookup" data-recordid="undefined_4475421000000220145" data-dataval="[object Object]" style="width: 30%;">
              <div class="view-val-cont" id="Part_Line_Items___Part">CHeck</div>
              <div class="dep-fld-cont">
                <div class="line-items-depFldCont">
                  <div class="line-items-depFldLabel">Description</div>
                  <div class="line-items-depFld textareaview" data-recordid="Part_Line_Items___Description_4475421000000220145" data-instance="3" data-apiname="Part_Line_Items___Description" data-apinameorg="Description" data-datatype="textarea">
                    <div class="view-val-cont" id="Part_Line_Items___Description">Sample secrip</div>
                  </div>
                </div>
                <div class="line-items-depFldCont">
                  <div class="line-items-depFldLabel">Service</div>
                  <div class="line-items-depFld" data-recordid="Part_Line_Items___Service_4475421000000220145" data-instance="3" data-apiname="Part_Line_Items___Service" data-apinameorg="Service" data-datatype="lookup" data-lookupmod="Service_Line_Items">
                    <div class="view-val-cont" id="Part_Line_Items___Service">SVC-1709</div>
                  </div>
                </div>
              </div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Part_Line_Items___Quantity" data-apinameorg="Quantity" data-datatype="unit" data-recordid="undefined_4475421000000220145" data-dataval="1" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Quantity">1</div>
              <div class="dep-fld-cont"></div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Part_Line_Items___List_Price" data-apinameorg="List_Price" data-datatype="exchangecurrency" data-recordid="undefined_4475421000000220145" data-dataval="838" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___List_Price">$ 838.00</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Part_Line_Items___Discount" data-apinameorg="Discount" data-datatype="discount" data-recordid="undefined_4475421000000220145" data-dataval="10" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Discount">$ 10</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Part_Line_Items___Total" data-apinameorg="Total" data-datatype="currency" data-recordid="undefined_4475421000000220145" data-dataval="828" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Total">$ 828.00</div>
            </td>
            <td class="tablelisttd line-item-fields" data-instance="3" data-apiname="Part_Line_Items___Tax_Name" data-apinameorg="Tax_Name" data-datatype="tax" data-recordid="undefined_4475421000000220145" data-dataval="CCE" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Tax_Name">CCE</div>
            </td>
            <td class="tablelisttd line-item-fields number-fld" data-instance="3" data-apiname="Part_Line_Items___Total_After_Tax" data-apinameorg="Total_After_Tax" data-datatype="currency" data-recordid="undefined_4475421000000220145" data-dataval="927.36" style="width: 12.5%;">
              <div class="view-val-cont" id="Part_Line_Items___Total_After_Tax">$ 927.36</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="no-record-found">
            <td colspan="10" style="width: 100%;">
              <div class="noResult f-italic no-record-subform" data-norecordsubform="para___Part_Line_Items" style="display: none;">No Record Found</div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="aggregate-cont">
      <div class="readlist-a f-Semibold">
        <div class="readlistLabel-a">Sub Total<div class="field-label-a-desc">With tax</div>
        </div>
        <div class="field-value-a number-fld" data-instance="3" data-apiname="part_total" data-apinameorg="rt_total" data-datatype="currency" data-dataval="927.36">
          <div class="view-val-cont" id="part_total">$ 927.36</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aggregate-cont-col" data-instance="3">
  <div class="aggregate-cont" data-instance="3">
    <div class="readlist-a f-Semibold">
      <div class="readlistLabel-a">Grand Total<div class="field-label-a-desc">Services + Parts</div>
      </div>
      <div class="field-value-a number-fld" data-instance="3" data-apiname="Work_Orders___Grand_Total" data-apinameorg="Grand_Total" data-datatype="currency" data-dataval="927.36">
        <div class="view-val-cont" id="Work_Orders___Grand_Total">$ 927.36</div>
      </div>
    </div>
  </div>
</div>