<div class="w100per fL">
  <div class="menu-act" {{on 'click' (fn this.showMiddleTab "lineitem")}}>Line Item</div>
  <div class="menu-act" {{on 'click' (fn this.showMiddleTab "notes")}}>Notes</div>
</div>
<div class="w100per fL mT15">
  {{#if (eq this.currentTab "lineitem")}}
  <DetailMiddlePanLineitem />
  {{else if (eq this.currentTab "notes")}}
  <DetailMiddlePanNotes />
  {{/if}}
</div>