
<div class="Hdrbtm" id="from-header"><span class="sectionHdr f-Semibold">Service Appointment Summary</span></div>
<ul class="col-layout" data-instance="1">
  <li class="col-cont" style="width: 100%;">
    <div class="readlist">
      <div class="readlistLabel">Name</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Name" data-apinameorg="Name" data-datatype="autonumber" data-dataval="AP-8">
        <div class="view-val-cont" id="Service_Appointments___Name">AP-8</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Territory</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Territory" data-apinameorg="Territory" data-datatype="lookup" data-dataval="[object Object]" data-lookupmod="Territories">
        <div class="view-val-cont" id="Service_Appointments___Territory">US ED</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Summary</div>
      <div class="field-value removeBdr formlistbox" data-instance="1" data-apiname="Service_Appointments___Summary" data-apinameorg="Summary" data-datatype="textarea" data-dataval="abbcbbbc">
        <div class="view-val-cont" id="Service_Appointments___Summary">abbcbbbc</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Contact</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Customer" data-apinameorg="Customer" data-datatype="lookup" data-dataval="[object Object]" data-lookupmod="Contacts">
        <div class="view-val-cont" id="Service_Appointments___Customer"   >abbs</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Company</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Company" data-apinameorg="Company" data-datatype="lookup" data-dataval="[object Object]" data-lookupmod="Accounts">
        <div class="view-val-cont" id="Service_Appointments___Company"   >Zoho</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Asset</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Asset" data-apinameorg="Asset" data-datatype="lookup" data-lookupmod="Assets">
        <div class="view-val-cont emptycontent icon" id="Service_Appointments___Asset"></div>
      </div>
    </div>
  </li>
  <li class="col-cont" style="width: 100%;">
    <div class="readlist">
      <div class="readlistLabel">Status</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Status" data-apinameorg="Status" data-datatype="picklist" data-dataval="Invoice Generated">
        <div class="view-val-cont" id="Service_Appointments___Status">Invoice Generated</div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Service Address</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Service_Address" data-apinameorg="Service_Address" data-datatype="address" data-dataval="[object Object]" data-lookupmod="Addresses">
        <div class="view-val-cont" id="Service_Appointments___Service_Address">
          <div>
            <div class="addressName">CHECK</div>
            <div class="addressContent">check</div>
            <div class="addressContent">check</div>
            <div class="addressContent"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="readlist">
      <div class="readlistLabel">Created Time</div>
      <div class="field-value removeBdr" data-instance="1" data-apiname="Service_Appointments___Created_Time" data-apinameorg="Created_Time" data-datatype="datetime" data-dataval="2020-12-19T20:02:09+05:30">
        <div class="view-val-cont" id="Service_Appointments___Created_Time">Dec 19, 2020 08:02 PM</div>
      </div>
    </div>
  </li>
</ul>