<ul class="tab-list-container">
	{{#each @tabs as |tabHead|}}
		<li class="tab-menu"><button type="button" {{on 'mouseover' (fn this.showSubMenu tabHead)}}  {{on 'click' (fn this.hideSubMenu)}} class="tab-menu-button">{{tabHead.title}}</button></li>
	{{/each}}
</ul>

<div class="dialog-popup1">
	<HeaderSubMenu @submenus={{this.submenu}} />
</div>