<ul class="sub-menu-list-container">
  {{#each @submenus as |subMenu|}}
    <li class="sub-menu-item"><LinkTo @route="tab" @model={{subMenu.url}}><button type="button" class="sub-menu-button">{{subMenu.title}}</button></LinkTo></li>
  {{/each}}
</ul>