
<div class="listview-top">
        <ul>
                <li class="fl"><a href="javascript:;" class="list-filter-icon">&nbsp;</a></li>
                <li class="fl"><select style="margin-left: 15px;margin-top: 10px;"><option>All Appointment</option></select></li>
                <li class="fr"><a href="javascript:;" class="green-cir-bg fl"><span class="list-more-icon">&nbsp;</span></a></li>
                <li class="fr"><a href="javascript:;" class="primary-button fr">New Appointment</a></li>

                
        </ul>
    </div>

<div class="listview-header mt13">

{{#each @columnKeys as |key|}}
               
                <a href="javascript:;">
                     {{key}}
                </a>
            {{/each}}
            </div>
  {{#each @list as |record|}}

    <div class="listview-value">
    	

    		{{#each @columnKeys as |key|}}
                <LinkTo @route="tab.detail" class="item-column" @model={{record.Name}}>
    			     {{get record key}}
               </LinkTo>
    		{{/each}}
    	
    </div>
  {{/each}}


