<ul class="records-list-container">

{{#each @columnKeys as |key|}}
                <div class="item-column">
                     {{key}}
                </div>
            {{/each}}
  {{#each @list as |record|}}
    <li class="record-list-item">
    	<LinkTo @route="tab.detail" @model={{record.Name}}>
    		{{#each @columnKeys as |key|}}
                <div class="item-column">
    			     {{get record key}}
                </div>
    		{{/each}}
    	</LinkTo>
    </li>
  {{/each}}
</ul>
