<div>
  <div class="Hdrbtm">
    <span class="list_hdr f-Semibold">Follow Up Estimate</span>
  </div>
  <div id="wo-followup-est" style="padding: 0px; overflow-y: auto;">
    <div>
      <div class="zp-controler" style="display: none;"><button id="zp-primary" class="newLine fL"><span class="icon newlineicon"></span>
          <p class="newLineText">New</p>
        </button></div>
      <div class="zp-content-container">
        <div class="zp-content zp-visible" style="">
          <table>
            <tr>
              <th width="16.666666666666668%"><span>Estimate Name</span></th>
              <th width="16.666666666666668%"><span>Status</span></th>
              <th width="16.666666666666668%"><span>Summary</span></th>
              <th width="16.666666666666668%"><span>Grand Total</span></th>
              <th width="16.666666666666668%"><span>Created By</span></th>
              <th width="16.666666666666668%"><span>Created Time</span></th>
            </tr>
            <tr class="jq-rl-tr">
              <td class="jq-rl-td" width="16.666666666666668%"><span style=" ">ES8</span></td>
              <td class="jq-rl-td" width="16.666666666666668%"><span>New</span></td>
              <td class="jq-rl-td" width="16.666666666666668%"><span>abc</span></td>
              <td class="jq-rl-td" width="16.666666666666668%"><span class="zp-emptycontent icon"></span></td>
              <td class="jq-rl-td" width="16.666666666666668%"><span>Krish US47</span></td>
              <td class="jq-rl-td" width="16.666666666666668%"><span>27 Jan,2021 09:25 AM</span></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="zp-footer clearfix" style="display: none;">
        <div class="zp-pagination"><button class="zp-prev-page icon"></button><span class="currentpage f-Semibold">1</span><button class="zp-next-page icon"></button></div>
      </div>
    </div>
  </div>
</div>