<div class="main-grid">
  <div class="topPanC">
    <DetailTopPan />
  </div>
    <div class="topPanR">
    <DetailTopPanRight />
  </div>
  <div class="leftPanC">
    <DetailLeftPan />
  </div>
  <div class="middlePanC">
    <DetailMiddlePan />
  </div>
  <div class="rightPanC">
    <DetailRightPan />
  </div>
</div>